*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 700px;
    height: 400px;
    margin: 70px 140px;
    border: 5px solid red;
    display: flex;
    justify-content: space-between;
}

.call{    
    width: 280px;
    height: 90%;
    margin: 30px;
}

span{
    color: red;
}

.firstImg{
    height: 390px;    
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
    margin: 20px 0 30px;
}

h4{
    font-weight: normal;
}

#knowMore{
    font-size: 20px;
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 50px;
    margin: 30px 0 30px 40px;
    cursor: pointer;
}



.curses{
    /* border: 1px solid white; */
    display: inline-block;
    width: 300px;
    margin: 20px 0 40px 40px;
    
}

h3{
    margin: 20px 0 10px;
}

li{
    margin-top: 10px;
}

#logo{
    width: 150px;
    margin: 20px 0 0 -20px;
}

.wrapRigth{
    display: inline-block;
    /* border: 1px solid yellow; */
    width: 300px;
    height: 350px;
    margin: 20px;  
    
}

.field{
    /* border: 1px solid pink; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

input,select{
    border-radius: 5px;
    background-color: white;
    color: gray;
    padding: 5px;
    width: 200px;
}

#submit{
    background-color: red;
    color: white;
    width: 100px;
    margin-left: 200px;
    cursor: pointer;
}

#knowMore:hover,#submit:hover{ 
    font-weight: bold;

}

#knowMore:active,#submit:active{
    opacity: 0.7;
}